      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div id='messagesDiv' class="messages" ></div>
          <div class="row">
            <div class="col-sm-3">
              <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="text" id='nameInput' class="form-control" placeholder="Your Name">
              </div>
            </div>
            <div class="col-sm-9">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
                <input type='text' id='messageInput' class="form-control" placeholder='Message'>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-group col-xs-offset-10 col-sm-offset-11">
              <a id="chat-btn" class="btn btn-default" href="#" role="button">Send</a>
            </div>
          </div>
        </div>
      </div>
